.movieDetails {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

.goBack{
  padding: 6px;
  text-decoration: none;
  color: #555;
  transition: color 300ms ease-in-out;
}

.goBack:hover, .goBack:focus {
  color: #007bff;
}

.basicInfo {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  flex: 0 0 auto;
  margin-right: 20px;
}

.image {
  width: 300px;
  height: auto;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
}

.detailsContainer {
  flex: 1 1 auto;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

.userScore {
  margin-bottom: 10px;
  font-size: 16px;
  color: #777;
}

.overview {
  margin-bottom: 10px;
  max-height: 290px;
  overflow-y: auto;
  font-size: 18px;
  color: #555;
}

.genres {
  font-size: 16px;
  color: #777;
}

.addInfo {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px rgba(0, 0, 0, 0.1);
}

.addInfo h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.link {
  padding: 6px;
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  font-size: 18px;
  color: #555;
  transition: color 300ms ease-in-out;
}

.link:hover, .link:focus {
  color: #007bff;
}

