.navLink {
  padding: 20px 0 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: color 300ms ease-in-out;
}

.navLink:hover, .navLink:focus {
  color: #007bff;
}

.active {
  color: #007bff;
}

